<html lang="en">
<head>
<title>Introduction</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


body {
 background-color: #ECF6FB;
}

/ Style the content */
article {
  color: #554539;
  padding: 75px;
  font-size: 25px;

}

 footer {
  padding: 20px;
  text-align: left;
  color: #554539;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

}

</style>
</head>
<body>

<header>
  <h2>Tin Thu Zar Aye</h2>
</header>

<section>
  <nav>
    <ul>

      <img src="../resources/images/ttza.jpg" alt="Pic" style="width:450px;height:550px;">

    </ul>
  </nav>
    <p >My name is Tin Thu Zar Aye and I am studying Computer Science at San Francisco State University.</p>
</section>

</body>
</html>