<!DOCTYPE html>

<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
  font-family: Georgia,serif;
  font-size: 18px;
}

{
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 100px;
  font-size: 17px;
  border: 3px solid grey;
  float: left;
  width: 10000%;
  background: #f1f1f1;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}

</style>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:8px;" >
    <a href="#home" class="w3-bar-item w3-button">HungryGators-19</a>
    <form class="example" action="/action_page.php" style="margin:auto;max-width:250px">
    </form>

  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

    <!-- Right-sided navbar links. Hide them on small screens -->
  <div class="w3-right w3-hide-small" style="letter-spacing:1px;">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#owner" class="w3-bar-item w3-button">Restaurant Owner</a>
      <a href="#driver" class="w3-bar-item w3-button">Delivery Driver</a>
      <a href="#customer" class="w3-bar-item w3-button">SFSU Customers</a>
    </div>
  </div>
</div>


<hr>
<div class="w3-row w3-padding-32" id="about">
    <div class="w3-col m6 w3-padding-large">
      <h2>About</h2>
    </div>
</div>
<hr>

<hr>
<div class="w3-row w3-padding-32" id="owner">
    <div class="w3-col m6 w3-padding-large">
      <h2>Restaurant Owner</h2>
    </div>
</div>
<hr>

<hr>
<div class="w3-row w3-padding-32" id="driver">
    <div class="w3-col m6 w3-padding-large">
      <h2>Delivery Driver</h2>
    </div>
</div>
<hr>

<hr>
<div class="w3-row w3-padding-32" id="customer">
    <div class="w3-col m6 w3-padding-large">
      <h2>SFSU Customers</h2>
    </div>
</div>
<hr>


<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Privacy</p>
  <p>@Copyright</p>
  <p>Contact</p>
</footer>

</body>
</html>