<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
</head>

<body>
  <header>
  </header>

  <!-- About Section -->
  <section>
      <!-- About Section Heading -->
      <h2>Biography</h2>
      <!-- About Section Content -->
      <div>
          <p>Hi, my name is Yongjian Pan. I'm currently a software engineer in-training taking a
          software engineering class learning and integrating Amazon AWS, MySQL, NGINX, Python, and Flask to build
          and develop a team final project.</p>
        </div>
        <div>
          <p class="lead">I'm currently working on a software team project (in teams of 6 students) where I engage
          in a team project in order to experience and practice key aspects of full software engineering lifecycle
          in settings that simulates small software engineering company.</p>
        </div>
      </div>
  </section>

    <!-- Footer -->
  <footer>
    <div>
      <div>
          <h3><a href = "mailto: yjpan710@gmail.com">Email me</a></h3>
      </div>
    </div>
  </footer>
</body>
</html>
