<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Team Parent Template</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
   </head>
   <body>
   <header>
    {% block content %}
      {% endblock %}
   </header>
         <div class="container">
            <h1 class="logo">Simple Team Page</h1>
            <strong>
               <nav>
                  <ul class="menu">
                      <li><a href="{{ url_for('home') }}">Home</a></li>
                      <li><a href="{{ url_for('Branden') }}">Branden</a></li>
                      <li><a href="{{ url_for('Robert') }}">Robert</a></li>
                      <li><a href="{{ url_for('Gurjot') }}">Gurjot</a></li>
                      <li><a href="{{ url_for('Yongjian') }}">Yongjian</a></li>
                      <li><a href="{{ url_for('Jasmine') }}">Jasmine</a></li>
                     <li><a href="{{ url_for('TinThuZar') }}">Tin Thu Zar</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
   </body>
</html>
